# Change the charset to UTF-8
AddDefaultCharset UTF-8

AddType text/javascript .mjs

<IfModule mod_php7.c>
    php_value upload_max_filesize 8M
    php_value post_max_size 8M
</IfModule>

# Fonts
# Add correct content-type for fonts
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType application/font-woff2 .woff2
AddType image/svg+xml .svg

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access plus 1 year"
    ExpiresByType text/x-javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"

    # Add a far future Expires header for fonts
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    ExpiresByType application/x-font-ttf "access plus 1 year"
    ExpiresByType application/x-font-opentype "access plus 1 year"
    ExpiresByType application/x-font-woff "access plus 1 year"

    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"

    # Woff2
    ExpiresByType font/woff2  "access plus 1 year"
    ExpiresByType application/font-woff2  "access plus 1 year"
    ExpiresByType application/x-font-woff2  "access plus 1 year"
</IfModule>

# Set cache control where possible
<IfModule mod_headers.c>
    <filesMatch '.(jpg|jpeg|png|gif|webp|ico|svg)$'>
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
    <filesMatch '.(css|js)$'>
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
    <filesMatch '.(woff2)$'>
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>
    <FilesMatch '(\.js\.gz|\.css\.gz)$'>
      # Serve correct encoding type.
      Header append Content-Encoding gzip

      # Force proxies to cache gzipped &
      # non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
</ifmodule>

# Use DEFLATE to comprimize the traffic to get faster websites
<IfModule mod_deflate.c>
    # Compress HTML, CSS, JavaScript, Text, XML and fonts
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml

    # Remove browser bugs (only needed for really old browsers)
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
</IfModule>


# Enable gzip when possible
<ifModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# Start the rewriting of the URL
RewriteEngine on
RewriteBase /

# Define a custom 404 file
ErrorDocument 404 /vendor/studioibizz/framework/src/pages/404.php

# Deny access to specific files
RewriteRule ^autodiscover/autodiscover\.xml - [NC,L]

# When the item is not a static item, then rewrite to the index
RewriteCond %{REQUEST_URI} !\.(css|js|js.map|jpe?g|gif|png|webp|woff|tff|svg|eot|otf|ico|webp)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^   index.php    [L,NC]